* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #14141446;
    color: white;
}

html {
    font-size: 16px;
}

.header {
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 1rem 1rem;
    position: absolute;
    top: 0;
}

.black-color {
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.background {
    display: flex;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/3e4bd046-85a3-40e1-842d-fa11cec84349/web/IN-en-20250818-TRIFECTA-perspective_4bd1b66d-bbb6-4bc6-ba8f-ecbba53a1278_large.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 118vh;
    position: relative;
    top: 1px;
}
.navbar {
    width: 100vw;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 100;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.logo svg {
    width: 5.6rem;
    /* position: relative;
    right: 1rem; */
    fill: #e60914;

}

.lang-icon {
    width: 1.2rem;
}

.down-icon {
    width: 1.2rem;
    flex-grow: 3;
}

.lang-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-size: 16px;
    font-weight: bold;
    font-size: 0.5rem;
    color: white;
    background-color: #121212;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.25rem 0.6rem;
}

.lang-dropdown select {
    background: transparent;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1px;
    color: rgb(255, 255, 255);
    background-color: #121212;
}

.lang-dropdown select:focus {
    font-size: 0.5rem;
}

.signIn button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    background-color: #e60914;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;

}

.register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem;
    gap: 0.8rem;
}

.center-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.center-text h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.center-text h2 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.center-text p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.5rem;

}

.email {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.email input {
    background-color: grey;
    width: 80vw;
    padding: 0.95rem 1rem;
    background-color: #0f0f0fc9;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 3px;
    color: white;
    font-size: 1rem;
}

.email input::placeholder {
    font-size: 1rem;
    font-weight: 600;
}

.email button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1rem;
    background-color: #e60914;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    gap: 1rem;
}

.line {
    height: 5px;
    width: 100vw;
    background-image: linear-gradient(190deg, #290d1a, #b52867, #cc1b47, #e00b1d, #e00b1d, #cc1b47, #b52867, #290d1a);
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    position: relative;
    top: -17vh;
    height: 100vh;
    background-color: black;
}
.trending-now{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 1.5rem;
}
.radical{
    height: 10%;
    background-image: linear-gradient(180deg,#0e1533,black);

}
.crousel{
    display: grid;
    height:25vh;
}
.box{
    height: 100%;
    width: 35%;
    background-color: white;
}
.image{
    background-image: url("https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABRhpHnfh6ia4QcotnBIjOTFL15LZcxTPjXf5VFU_E_ayrXSswVPM_vAfqrmSoUqf-gC_bRjsC6918GtEasl95dPq6PmppVAHtndE5xrFBIzsX0JVN6c9w-0AVT1lkdh3b6Xa.webp?r=2b8");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}
/* Small devices (landscape phones) */
@media (min-width: 600px) {

    /* 576px - 767px */
    .lang-dropdown select {
        font-size: 1rem;
    }

    .lang-dropdown {
        gap: 0.5rem;
    }

    .header {
        gap: 4rem 0rem;
    }

    .register {
        padding: 2rem 4rem;
    }

    .email input {
        width: 41vw;
    }

    .email {
        flex-direction: row;
        gap: 0.5rem;
    }

    .email input {
        padding: 1rem 1rem;
    }

    .email button {
        padding: 1rem 1.7rem;
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .logo svg {
        width: 9rem;
        position: relative;
    }

    .navbar {
        padding: 1.2rem 5rem;
    }

    .background {
        height: 136vh;
    }

    .header {
        gap: 6rem 0rem;
    }

    .center-text h1 {
        font-size: 2.5rem;
    }

    .register {
        padding: 2rem 14rem;
    }

    .email input {
        width: 33vw;
        padding: 1.1rem 1rem;
    }

    .email button {
        padding: 1.1rem 1.7rem;
        font-size: 1.1rem;
    }
}

@media (min-width: 1280px) {
    .navbar {
        padding: 1.5rem 9rem;
    }

    .background {
        height: 128vh;
    }

    .center-text h1 {
        font-size: 3.5rem;
    }

    .center-text h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .register {
        padding: 2rem 17rem;
    }

    .center-text {
        gap: 1.5rem;
    }

    .header {
        gap: 5rem 0rem;
    }

    .email input {
        width: 30vw;
        padding: 1.1rem 1rem;
    }

    .email button {
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        border-radius: 4px;
    }
}